<div class="row justify-content-sm-center mt-3">
    <div class="col-sm-6">
      <form>
        <div class="form-group">
          <label>Name</label>
          <input class="form-control" placeholder="Provide your name" ngModel name="name"  required type="text"  />
        </div>
        <div class="form-group">
          <label>Email Address</label>
          <input class="form-control" placeholder="Provide your email address" ngModel name="emailAddress" required type="email"  />
        </div>
        <div class="form-group">
          <label>Age</label>
          <input class="form-control" placeholder="Provide your age" ngModel name="age" required type="number" />
        </div>
        <div class="form-group">
          <div style="display: flex; margin-top: 10px">
            <button
              type="submit"
              class="btn btn-primary"
              style="margin-left: auto; width: 30%"
            >
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
