<div class="container-lg m-0">
  <div class="row">
    <div class="col-6 justify-content-center">
      <h1>Registration form</h1>
      <form
        class="justify-content-center"
        (ngSubmit)="onSubmit()"
        #formdemo="ngForm"
      >
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input
            type="text"
            id="firstName"
            class="form-control"
            [(ngModel)]="userData.firstName"
            name="firstName"
            #firstName="ngModel"
            required
          />
          <span
            class="help-block"
            *ngIf="firstName.invalid && firstName.touched && !firstName.dirty"
            >Please Enter a First Name!</span
          >
        </div>

        <div class="form-group">
          <label for="username">Last Name</label>
          <input
            type="text"
            id="lastName"
            class="form-control"
            [(ngModel)]="userData.lastName"
            name="lastName"
            #lastName="ngModel"
            required
            [disabled]="!userData.firstName"
          />
          <span class="help-block" *ngIf="!lastName.valid && lastName.touched"
            >Please Enter a Last Name!</span
          >
        </div>

        <div class="form-group">
          <label for="email">Mail</label>
          <input
            type="email"
            id="email"
            class="form-control"
            [(ngModel)]="userData.email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            name="email"
            required
            [disabled]="!userData.lastName"
            #email="ngModel"
          />
          <span class="help-block" *ngIf="!email.valid && email.touched"
            >Please enter a valid email!</span
          >
        </div>
        <div class="form-group">
          <label for="mobileNo">Phone no</label>
          <input
            type="text"
            id="mobileNo"
            class="form-control"
            [(ngModel)]="userData.mobileNo"
            name="mobileNo"
            (keypress)="blockCharacter($event)"
            [disabled]="!userData.email"
            #mobileNo="ngModel"
            maxlength="10"
            minlength="10"
            required
          />
          <span class="help-block" *ngIf="!mobileNo.valid && mobileNo.touched"
            >Please enter a valid Mobile No!</span
          >
        </div>

        <!-- <div class="form-group">
          <label for="country">Select country</label>
          <select
            id="country"
            class="form-control"
            [(ngModel)]="userData.country"
            name="country"
          >
            <option value="india">india</option>
            <option value="usa">USA</option>
          </select>
        </div> -->
        <div class="form-group mb-3 mt-3">
          <div class="row">
            <div class="col-2">
              <label> Gender </label>
            </div>
            <div class="radio col-2" *ngFor="let gender of genders">
              <input
                type="radio"
                name="gender"
                [id]="gender"
                [(ngModel)]="userData.gender"
                [value]="gender"
                required
              />
              <label class="ml-2" [for]="gender">{{ gender }}</label>
            </div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
    <div class="col-6 justify-content-center mx-auto">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone No</th>
            <th>Gender</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of details">
            <td>{{ item.firstName }}</td>
            <td>{{ item.lastName }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.mobileNo }}</td>
            <td>{{ item.gender }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
