<div class="row p-2 m-0">
  <div class="col-4 card justify-content-center p-0 m-0">
    <div
      [ngClass]="toggle ? 'text-center text-success' : 'text-center text-info'"
    >
      <h1>Registration form</h1>
    </div>
    <div class="card-body">
      <form class="justify-content-center" [formGroup]="profileForm">
        <div class="form-group">
          <label class="h5" for="firstName">First Name</label>
          <input
            type="text"
            id="firstName"
            class="form-control"
            name="firstName"
            formControlName="firstName"
            required
          />
          <span
            class="text-danger"
            *ngIf="
              (profileFormControl['firstName'].invalid &&
                profileFormControl['firstName'].touched) ||
              (submitted && profileFormControl['firstName'].pristine)
            "
          >
            FirstName is required
          </span>
        </div>

        <div class="form-group">
          <label class="h5" for="username">Last Name</label>
          <input
            type="text"
            id="lastName"
            class="form-control"
            name="lastName"
            formControlName="lastName"
            required
          />
          <span
            class="text-danger"
            *ngIf="
              (profileFormControl['lastName'].invalid &&
                profileFormControl['lastName'].touched) ||
              (submitted && profileFormControl['lastName'].pristine)
            "
          >
            Last Name is required
          </span>
        </div>

        <div class="form-group">
          <label class="h5" for="email">Mail</label>
          <input
            type="email"
            id="email"
            class="form-control"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            name="email"
            formControlName="email"
            required
          />
          <span
            class="text-danger"
            *ngIf="
              (profileFormControl['email'].invalid &&
                profileFormControl['email'].touched) ||
              (submitted && profileFormControl['email'].pristine)
            "
          >
            Email is required
          </span>
        </div>
        <div class="form-group">
          <label class="h5" for="birthDate">Birth of Date</label>
          <input
            type="date"
            id="birthDate"
            class="form-control"
            name="birthDate"
            formControlName="birthDate"
            required
          />
          <span
            class="text-danger"
            *ngIf="
              (profileFormControl['birthDate'].invalid &&
                profileFormControl['birthDate'].touched) ||
              (submitted && profileFormControl['birthDate'].pristine)
            "
          >
            Date of Birth is required
          </span>
        </div>
        <div class="form-group">
          <label class="h5" for="mobileNo">Phone no</label>
          <input
            type="text"
            id="mobileNo"
            class="form-control"
            name="mobileNo"
            (keypress)="blockCharacter($event)"
            maxlength="10"
            minlength="10"
            formControlName="mobileNo"
            required
          />
          <span
            class="text-danger"
            *ngIf="
              (profileFormControl['mobileNo'].invalid &&
                profileFormControl['mobileNo'].touched) ||
              (submitted && profileFormControl['mobileNo'].pristine)
            "
          >
            MobileNo is required
          </span>
        </div>
        <div class="form-group mb-3 mt-3">
          <div class="row">
            <div class="col-lg-4 m-0">
              <label class="h5"> Gender </label>
            </div>
            <div class="radio col-lg-4 m-0 p-0" *ngFor="let gender of genders">
              <input
                type="radio"
                name="gender"
                [id]="gender.value"
                [value]="gender.value"
                formControlName="gender"
                required
              />
              <label class="h5" class="ms-2" [for]="gender.value">{{
                gender.name
              }}</label>
              <br />
            </div>
            <span
              class="text-danger"
              *ngIf="
                (profileFormControl['gender'].invalid &&
                  profileFormControl['gender'].touched) ||
                (submitted && profileFormControl['gender'].pristine)
              "
            >
              Gender is required
            </span>
          </div>
        </div>

        <div formGroupName="address">
          <div class="form-group">
            <label class="h5" for="country">Country</label>
            <select
              class="form-select"
              formControlName="country"
              (change)="selectCountry($event, 0)"
            >
              <option disabled selected>select country</option>
              <option
                [value]="country.countryId"
                *ngFor="let country of countries"
              >
                {{ country.countryName }}
              </option>
            </select>
            <span
              class="text-danger"
              *ngIf="
                (addressControl['country'].invalid &&
                  addressControl['country'].touched) ||
                (submitted && addressControl['country'].pristine)
              "
            >
              Country is required
            </span>
          </div>
          <div class="form-group">
            <label class="h5" for="state">State</label>
            <select
              class="form-select"
              formControlName="state"
              (change)="selectState($event, 0)"
            >
              <option disabled selected>Select State</option>
              <option
                [disabled]="!addressControl['country'].value"
                [value]="state.stateId"
                *ngFor="let state of states"
              >
                {{ state.stateName }}
              </option>
            </select>
            <span
              class="text-danger"
              *ngIf="
                (!addressControl['country'].value &&
                  addressControl['state'].touched) ||
                (submitted && addressControl['state'].pristine)
              "
              >Please Select Coutry</span
            >
            <br />
            <span
              class="text-danger"
              *ngIf="
                addressControl['country'].value &&
                addressControl['state'].touched &&
                addressControl['state'].invalid
              "
            >
              State is required
            </span>
          </div>
          <div class="form-group">
            <label class="h5" for="country">City</label>
            <select class="form-select" formControlName="city">
              <option disabled selected>Select City</option>
              <option
                [disabled]="!addressControl['state'].value"
                [value]="city.cityId"
                *ngFor="let city of cities"
              >
                {{ city.cityName }}
              </option>
            </select>
            <span
              class="text-danger"
              *ngIf="
                (!addressControl['state'].value &&
                  addressControl['city'].touched) ||
                (submitted && addressControl['city'].pristine)
              "
              >Please Selete State</span
            >
            <br />
            <span
              class="text-danger"
              *ngIf="
                addressControl['state'].value &&
                addressControl['city'].touched &&
                addressControl['city'].invalid
              "
            >
              City is required
            </span>
          </div>
        </div>
        <div class="form-group">
          <input type="checkbox" formControlName="isToRead" id="isToRead" />
          <label for="isToRead"
            >&nbsp; I agree to our
            <a target="_blank" href="/">Terms of use</a> and
            <a target="_blank" href="/">Privacy Policy</a>.</label
          >
          <br />
          <span
            class="text-danger"
            *ngIf="
              (profileFormControl['isToRead'].invalid &&
                !profileFormControl['isToRead'].value &&
                profileFormControl['isToRead'].touched) ||
              (submitted && profileFormControl['isToRead'].pristine)
            "
          >
            Please confirm Agreement
          </span>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button
        [ngClass]="
          toggle
            ? 'btn btn-success text-white w-100'
            : 'btn btn-info text-white  w-100'
        "
        (click)="onSubmit()"
        type="submit"
      >
        <ng-container *ngIf="toggle; then toggleIn; else toggleOut">
        </ng-container>
        <ng-template #toggleIn> Update </ng-template>
        <ng-template #toggleOut> Submit </ng-template>
      </button>
    </div>
  </div>
  <div class="col-8 justify-content-center mx-auto">
    <table class="table table-striped">
      <thead>
        <tr class="text-center">
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Birth of Date</th>
          <th>Phone No</th>
          <th>Gender</th>
          <th colspan="3">Address</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let userDetail of usersDetails; let i = index">
          <tr class="text-center">
            <td>{{ userDetail.firstName }}</td>
            <td>{{ userDetail.lastName }}</td>
            <td>{{ userDetail.email }}</td>
            <td>{{ userDetail.birthDate | date : "dd-MM-yyyy" }}</td>
            <td>{{ userDetail.mobileNo }}</td>
            <td>{{ userDetail.gender }}</td>
            <td>{{ userDetail.address.country.countryName }}</td>
            <td>{{ userDetail.address.state.stateName }}</td>
            <td>{{ userDetail.address.city.cityName }}</td>
            <td>
              <button
                class="btn btn-outline-success"
                (click)="handleEdit(userDetail, i)"
              >
                Edit
              </button>
              <button
                class="btn btn-outline-danger ms-2"
                (click)="handleDelete(i)"
              >
                Delete
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
